@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 

}
h1, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;

}
header {
display: flex;
justify-content:center;
align-items: center;
padding: 30px 10%;
background-color:#24252a;
}

#header-img {
    cursor: pointer;
    border-radius: 50%;
    max-width: 8%;
    border: 2px solid whitesmoke;
}


#nav-link {
    color: tomato !important;

}

#videointro, h3 {
    color: blanchedalmond;
}