@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 

}
h1, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;

}
header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 10%;
    background-color:#24252a;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #24252a; 
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-weight: 300;
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

#header-img {
    cursor: pointer;
    border-radius: 50%;
    max-width: 8%;
    border: 2px solid whitesmoke;
}

#question {
    display: block;
    width: 500px;
    height: 2.0rem;
    padding: 0.20rem 0.75rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    
}

#email {
    display: block;
    width: 500px;
    height: 2.0rem;
    padding: 0.20rem 0.75rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

#name {
    display: block;
    width: 500px;
    height: 2.0rem;
    padding: 0.20rem 0.75rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

#last {
    display: block;
    width: 500px;
    height: 2.0rem;
    padding: 0.20rem 0.75rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

#submit {
    color: white;
    background-color: #24252a;
    width: 500px;
    padding: 10px 5px;
    border-radius: 5px; 
    cursor: pointer;
}
.icons {
    float: left;
    width: 33.33%;
    padding: 3px;
    
}

.icons img {
    height: 200px;
}

.container1 {
    text-align: center;
    margin-top: 150px;
}

#videointro {
    text-align: center;
    padding: 60px 20px;    
}

#form {
    width: 500px;
    margin: auto;
    padding-top: 40px;
  }

#contact h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

#aboutme {
    display: flex; 
    justify-content: space-between;
}

#text {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    padding: 60px 22px ;
}

#text p {
    font-family: "Montserrat", sans-serif;
    color: black; 
    font-size: 35px;
    font-weight: bold;
}

#contact {
    margin-top: 250px;
    background-color: #24252a;
}
#contact h3 {
    padding-top: 50px;
    color: white;
}